//Dark theme styles
.container {
    min-width:100%;
    min-height:100vh;
    background-color:$background;
    background-image:url('../imgs/bg-desktop-dark.jpg');
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    padding-bottom:20px;
}

//Light theme styles 
.container-light {
    background-color:$background-light;
    background-image:url('../imgs/bg-desktop-light.jpg');
}



@media (max-width:375px) {
    .container {
        background-image:url('../imgs/bg-mobile-dark.jpg');
        justify-content: center;
    }

    .container-light {
        background-image: url('../imgs/bg-mobile-light.jpg');
    }
}