@mixin fieldAndBtn($font,$color,$background){
    font-size:$font;
    color:$color;
    background-color:$background;
    border:none;
}

.field-container {
    display:grid;
    grid-template-columns:1fr 80px;
    background-color:$todos-container-bg;
    border-radius: 5px;

    & #todos-grapper {
        @include fieldAndBtn(1.2rem, $todos-color, transparent);
        font-weight:200;
        padding:18px 0 18px 20px;
        outline:none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    & .add-btn {
        @include fieldAndBtn(1.2rem, #fff, $btn-selected);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor:pointer;

        &:hover {
            opacity:.85;
        }
        &:active {
            opacity:.8;
        }
    }
}

@media (max-width:375px){
    .field-container {
        grid-template-columns: 1fr 60px;
    }
}