@mixin fieldAndBtn($font,$color,$background){
    font-size:$font;
    color:$color;
    background-color:$background;
    border:none;
}

//Dark theme styles
.field-container {
    display:grid;
    grid-template-columns:1fr 80px;
    background-color:$todos-container-bg;
    border-radius: 7px;

    & #todos-grapper {
        @include fieldAndBtn(1.2rem, $todos-color, transparent);
        font-weight:200;
        padding:18px 0 18px 20px;
        outline:none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    & .add-btn {
        @include fieldAndBtn(1.2rem, #fff, $btn-selected);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor:pointer;

        &:hover {
            opacity:.85;
        }
        &:active {
            opacity:.8;
        }
    }
}

//Light theme styles
.field-container-light {
    background-color:$primary-light-color;

    & #todos-grapper {
        color:$filter-btns-color-light-hover;
    }
}

@media (max-width:430px){
    .field-container {
        grid-template-columns:80% 20%;
    }
}

@media (max-width:375px){
    .field-container {
        grid-template-columns: 78% 22%;

        & #todos-grapper {
            padding:15px 0 15px 15px;
        }
    }
}