//Primary colors 
$btn-selected: #3a7bfd;
$todo-checked: linear-gradient(150deg,#57ddff,#c058f3);

//Dark theme colors
$todo-bottom-border:#393a4c;
$background:#161722;
$todos-container-bg:#25273c;
$todos-hover-color:#cacde8;
$todos-color:#e4e5f1;
$field-text-color:#777a92;
$filter-btns-color:#4d5066;
$checked-todos-color:#393a4c;

//Light theme colors
$background-light: #e4e5f1;
$primary-light-color: #fafafa;
$filter-btns-color-light:#9394a5;
$filter-btns-color-light-hover:#484b6a;