@import 'resets';
@import 'variables';

@font-face {
    font-family:"Josefin Sans";
    src: url('../Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
    src: url('../Josefin_Sans/static/JosefinSans-Regular.ttf');
}

body {
    font-family:"Josefin Sans";
}

@import 'background';
@import 'logo';
@import 'input-field';
@import 'todos-container';
@import 'filtering';