*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
  src: url("../Josefin_Sans/static/JosefinSans-Regular.ttf");
}
body {
  font-family: "Josefin Sans";
}

.container {
  min-width: 100%;
  min-height: 100vh;
  background-color: #161722;
  background-image: url("../imgs/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.container-light {
  background-color: #e4e5f1;
  background-image: url("../imgs/bg-desktop-light.jpg");
}

@media (max-width: 375px) {
  .container {
    background-image: url("../imgs/bg-mobile-dark.jpg");
    justify-content: center;
  }
  .container-light {
    background-image: url("../imgs/bg-mobile-light.jpg");
  }
}
.app-container {
  width: 45%;
  padding-top: 70px;
}

.todo-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.todo-title .todo-logo {
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #fff;
}
.todo-title .light-dark-theme {
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .app-container {
    width: 60%;
  }
}
@media (max-width: 750px) {
  .app-container {
    width: 80%;
  }
}
@media (max-width: 375px) {
  .app-container {
    width: 90%;
    padding-top: 40px;
  }
  .todo-title {
    margin-bottom: 30px;
  }
  .todo-title .todo-logo {
    font-size: 2rem;
  }
}
.field-container {
  display: grid;
  grid-template-columns: 1fr 80px;
  background-color: #25273c;
  border-radius: 7px;
}
.field-container #todos-grapper {
  font-size: 1.2rem;
  color: #e4e5f1;
  background-color: transparent;
  border: none;
  font-weight: 200;
  padding: 18px 0 18px 20px;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.field-container .add-btn {
  font-size: 1.2rem;
  color: #fff;
  background-color: #3a7bfd;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.field-container .add-btn:hover {
  opacity: 0.85;
}
.field-container .add-btn:active {
  opacity: 0.8;
}

.field-container-light {
  background-color: #fafafa;
}
.field-container-light #todos-grapper {
  color: #484b6a;
}

@media (max-width: 430px) {
  .field-container {
    grid-template-columns: 80% 20%;
  }
}
@media (max-width: 375px) {
  .field-container {
    grid-template-columns: 78% 22%;
  }
  .field-container #todos-grapper {
    padding: 15px 0 15px 15px;
  }
}
.todos-container {
  margin-top: 30px;
  list-style: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #25273c;
}
.todos-container li {
  display: grid;
  grid-template-columns: 25px 1fr 50px;
  gap: 20px;
  align-items: center;
  color: #e4e5f1;
  cursor: pointer;
  padding: 20px;
  border-bottom: 1px solid #393a4c;
}
.todos-container li:hover .delete-btn {
  display: block;
}
.todos-container li .todo-text {
  font-weight: 400;
}
.todos-container li .todo-text:hover {
  color: #cacde8;
}

.check-box {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #393a4c;
  line-height: 25px;
  text-align: center;
}

.delete-btn {
  justify-self: end;
  display: none;
}

.checked {
  text-decoration: line-through;
  color: #393a4c;
  font-weight: 400;
}

.checked-box {
  background: linear-gradient(150deg, #57ddff, #c058f3);
}

.todos-container-light {
  background-color: #fafafa;
}
.todos-container-light li {
  border-bottom: 1px solid #e4e5f1;
}
.todos-container-light li .todo-text {
  color: #484b6a;
}
.todos-container-light li .todo-text:hover {
  color: #9394a5;
}

.check-box-light {
  border: 1px solid #e4e5f1;
}

.checked-light {
  color: #e4e5f1;
}

.dragging {
  opacity: 0.5;
}

@media (max-width: 375px) {
  .todos-container {
    margin-top: 20px;
  }
  .todos-container li {
    gap: 10px;
  }
  .todos-container .todo-text {
    font-size: 0.9rem;
  }
  .check-box {
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
  .delete-btn {
    display: block;
  }
  .delete-btn img {
    width: 15px;
  }
}
.control-panel {
  background-color: #25273c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.control-panel h4 {
  color: #4d5066;
  cursor: pointer;
}
.control-panel .clear-completed:hover, .control-panel .filtering-btns-container h4:not(.selected):hover {
  color: #e4e5f1;
}

.filtering-btns-container {
  display: flex;
  gap: 20px;
}
.filtering-btns-container .selected {
  color: #3a7bfd;
}

.filtering-btns-mobile {
  display: none;
}

.control-panel-light {
  background-color: #fafafa;
}
.control-panel-light h4 {
  color: #9394a5;
}
.control-panel-light .clear-completed:hover, .control-panel-light .filtering-btns-container h4:not(.selected):hover {
  color: #484b6a;
}

@media (max-width: 375px) {
  .control-panel h4 {
    font-size: 0.8rem;
  }
  .filtering-btns-container {
    display: none;
  }
  .filtering-btns-mobile {
    margin-top: 20px;
    background-color: #25273c;
    padding: 1.1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
  }
  .filtering-btns-mobile h4:not(.selected) {
    color: #4d5066;
  }
  .filtering-btns-mobile .selected {
    color: #3a7bfd;
  }
  .filtering-btns-mobile-light {
    background-color: #fafafa;
  }
}
@media (max-width: 750px) {
  .filtering-btns-container {
    display: none;
  }
  .filtering-btns-mobile {
    margin-top: 20px;
    background-color: #25273c;
    padding: 1.1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
  }
  .filtering-btns-mobile h4:not(.selected) {
    color: #4d5066;
    cursor: pointer;
  }
  .filtering-btns-mobile .selected {
    color: #3a7bfd;
    cursor: pointer;
  }
  .filtering-btns-mobile-light {
    background-color: #fafafa;
  }
}/*# sourceMappingURL=main.css.map */